.DS_Store
.registered
.vscode
*.dylib
*.egg-info
*.log
*.pcd
*.pyc
*.pyi
*.so
*.so.*
*.swp
bin/
build/
lib/
log/
py-bindings/ompl/
py-bindings/ompl/bindings_generator.py
!py-bindings/ompl/bindings_generator.py.in
