.registered
.DS_Store
*.swp
build/
bin/
lib/
*.pcd
*.pyc
*.so
*.dylib
CMakeModules/ompl.pc
doc/markdown/api_overview.md
doc/markdown/CForest.md
doc/markdown/download.md
doc/markdown/mainpage.md
doc/header.html
doc/html
py-bindings/ompl/bindings_generator.py
py-bindings/bindings
py-bindings/ompl/app
py-bindings/ompl/rrtstar
src/external/installPyPlusPlus.bat
src/external/installPyPlusPlus.sh
src/ompl/config.h
tests/BoostTestTeamCityReporter.h
tests/resources/config.h
_symlinks.sh
package.xml
.dir-locals.el
*~
install-ompl-ubuntu.sh
