[submodule "external/vamp"]
	path = external/vamp
	url = https://github.com/KavrakiLab/vamp
	branch = main
	update = checkout
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
